p {
  margin: 0;
}

.chart__wrapper {
  position: relative;
  box-sizing: border-box;
  height: calc(100vh-220px);
}

.chart__wrapper-for-addition {
  padding: 7px 0 18px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.chart__wrapper-for-description {
  text-align: center;
}

.chart__datepicker {
  font-size: 1rem;
  outline: none;
  width: 150px;
  padding: 3px 0 3px 8px;
  border: 2px solid #424242;
  border-radius: 5px;
  box-shadow: 0px 0px 3px white;
  cursor: pointer;
}

.chart__datepicker-title {
  margin: 0;
}

@media (max-width:480px) {
  .chart__datepicker {
    width: 120px;
    margin: 0 5px;
  }
  .chart__datepicker-title {
    margin: 0 5px;
  }
  .chart__wrapper-for-addition {
    font-size: 1rem;
    flex-wrap: wrap;
  }
  .chart__wrapper-for-description {
    width: 100%;
    padding-bottom: 5px;
  }
}

@media (min-width:481px) and (max-width:576px) {
  .chart__datepicker {
    width: 120px;
    margin: 0 5px;
  }
  .chart__datepicker-title {
    margin: 0 5px;
  }
  .chart__wrapper-for-addition {
    font-size: 1rem;
  }
}