.button {
  font-size: 1.25rem;
  color: white;
  outline: none;
  /* width: 150px; */
  /* width: 30%; */
  padding: 3px 8px;
  box-sizing: border-box;
  background-color: #00B815;
  /* background-image: url(./Picture/Favorite_512x512.ico); */
  border: 2px solid #424242;
  border-radius: 5px;
  box-shadow: 0px 0px 3px white;
  cursor: pointer;
}

.button__wrapper {
  /* height: 176px; */
  padding: 60px 0 7px 0;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
}