.tablist {
  min-height: 62px;
  margin-top: 45px;
  display: flex;
  flex-wrap: wrap-reverse;
}

.tab {
  box-sizing: border-box;
  display: flex;
  margin: 1px;
  padding-left: 4px;
  border: 1px solid gray;
  align-items: center;
  cursor: pointer;
  height: 29px;
}

.tab_selected {
  background: rgba(0, 170, 255, 1);
}

.tab__button-del-tab {
  margin-left: 20px;
  margin-right: 3px;
  cursor: pointer;
  color: white;
  outline: none;
  background-color: #791C24;
  border: 1px solid #424242;
  border-radius: 5px;
  box-shadow: 0px 0px 3px white;
}